<br>
<b>Tunis le{{ "now"|date("m/d/Y") }}</b>
<div><img width="200px;" src="menu/logo.png.png" alt="MyShcool"> </div>

<br><br><br>
<br>
<br>

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h2 class="card-title ">liste des élèves abonnés au Reastaurant :</h2>
            {#                        <p class="card-category"> Here is a subtitle for this table</p>#}
        </div>
               <div class="card-body">
            <div class="table-responsive">
            </div>
               </div>
                <table class="table" border="1" width="800">
                    <thead class=" text-primary">
                <tr>    <th>  Email</th>
                    <th>  Nom Utilisateur</th>
                    <th>Solde</th>
                    <th>Mot De Passe</th>
                    <th >Durée De L'abonnement</th>   </tr>
                    </thead>

                    {% for f in personnes %}


                        <tr>
                            <td> {{ f.email }} </td>
                            <td> {{ f.username }} </td>
                            <td> {{ f.solde }} </td>
                            <td> {{ f.password }} </td>
                            <td> {{ f.dureeAbonnement }} </td>

                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
