 {% extends 'default/index.html.twig' %}
{% block  changer  %}
    <br>
    <br>
    <br>
    <br>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Facture de l'élève numéro : {{ eleve.id }} Nommé : {{ eleve.username }}</h4>
                {#                        <p class="card-category"> Here is a subtitle for this table</p>#}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" border="1">
                        <thead class=" text-primary">
                        <th>  Date Inscription</th>
                        <th>  Fin Abonnement</th>
                        <th>Montant Payé</th>


                        <tbody>
                        {% for s in quittance %}


                            <tr>
                                <td> {{ s.debutInscription | date }} </td>
                                <td>{{ s.finInscription | date }}  </td>
                                <td> {{ eleve.solde }}    </td>



                            </tr>

                        </tbody>
                    </table>


                    {% endfor %}
                    <a href="{{ path('imprimerQuittanceRestau',{'id':eleve.id}) }}" >  <button class="btn btn-secondary">Vouler-vous imprimer cette facture ?</button></a>

                </div>
            </div>
        </div>
    </div>
{% endblock changer %}