{% extends 'default/index.html.twig' %}
        {% block  changer  %}
            <br>
            <br>
            <br>
            <br>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">liste des events</h4>
                        {#                        <p class="card-category"> Here is a subtitle for this table</p>#}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>  NomEvent</th>
                                <th>  Description</th>
                                <th>placeDispo</th>
                                <th>DateEvent</th>
                                <th>heureEvent</th>
                                <th>affiche</th>
                                <th >modifier</th>
                                <th >supprimer</th>

                                <tbody>
                                {% for f in formations %}


                                    <tr>

                                        <td>{{ f.nomEvent }}</td>
                                        <td>{{ f.description }}</td>
                                        <td> {{ f.placeDispo }} </td>
                                        <td> {{ f.dateevent|date }} </td>
                                        <td> {{ f.heureevent }} </td>
                                        <td><img src="{{ asset('img/' ~ f.image) }} " style="width: 50px;"></td>
                                        <td><a href="{{ path('event_modifieEvent',{'id':f.id}) }}" >  <button class="btn btn-secondary">Modifier</button></a></td>
                                        <td><a href="{{ path('event_supprimeEvent',{'id':f.id}) }}" >  <button class="btn btn-secondary"> Supprimer</button></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock changer %}