{% extends 'default/index.html.twig' %}
        {% block  changer  %}
            <br>
            <br>
            <br>
            <br>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">liste des clubs</h4>
{#                        <p class="card-category"> Here is a subtitle for this table</p>#}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>  NomClub</th>
                                <th>  Description</th>
                                <th>Effectif</th>
                                <th>Domaine</th>
                                <th >modifier</th>
                                <th >supprimer</th>

                                <tbody>
                                {% for f in clubs %}


                                            <tr>
                                                <td> {{ f.nomClub }} </td>
                                                <td> {{ f.description }} </td>
                                                <td> {{ f.effectif }} </td>
                                                <td> {{ f.domaine }} </td>
                                                <td><a href="{{ path('event_modifieClub',{'id':f.id}) }}" >  <button class="btn btn-secondary">Modifier</button></a></td>
                                                <td><a href="{{ path('event_supprimerClub',{'id':f.id}) }}" >  <button class="btn btn-secondary"> Supprimer</button></a></td>
                                            </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock changer %}