{% extends 'default/index.html.twig' %}
{% block  changer  %}
    <br>
    <br>
    <br>
 <center>

            <h1> Ajouter un Club </h1>

    </center>
    <br>
    <br>
    <br>
    <center>
        {{ form_start(form) }}
        <table>
            <tr>
                <td>  Nom Club:</td> <td> {{ form_widget(form.nomClub) }}</td>
            </tr>
            <tr>
                <td> Description:</td> <td> {{ form_widget(form.description) }}</td>
            </tr>
            <tr>
                <td> Effectif:</td> <td> {{ form_widget(form.effectif) }}</td>
            </tr>
            <tr>
                <td> Domaine:</td> <td> {{ form_widget(form.domaine) }}</td>

            <tr>
                <td> </td>
                <td>

                    <input type="submit" value="Ajouter"></td>

            </tr>
        </table>
    </center>

    {{ form_end(form) }}

{% endblock %}
