{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <><h2 class="contact-title">
            <br><br>
            Votre facture :
        </h2>
    <div class="form-group has-error">
        {{ form_start(form) }}

       Début Abonnement :   {{ form_widget(form.debutInscription,{'attr':{'type':'date','class':'form-control','placeholder':'Debut Inscription...'}}) }}
        <br> <br> <br>
        Fin Abonnement :    {{ form_widget(form.finInscription,{'attr':{'type':'date','class':'form-control','placeholder':'Fin Inscription...'}}) }}
        <br> <br> <br>
         {{ form_widget(form.prix,{'attr':{'type':'text','class':'form-control','placeholder':'Montant...'}}) }}
        <br> <br> <br>
        {{ form_widget(form.eleve_restau,{'attr':{'type':'text','class':'form-control','placeholder':'eleve...'}}) }}
        <br> <br> <br>
         {{ form_widget(form.valider,{'attr':{'type':'text','class':'btn btn-common','placeholder':'Submit...'}}) }}        </center>
        <br> <br> <br>
        {{ form_end(form) }}
    </div>
{% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
    </div>
{% endif %}
